<template>
  <div class="home">
    <slider
      className="topSlider"
      pausePlay="true"
      :slides="this.slides"
      :options="this.slickOptions"
    />
    <Services
      :services="this.serviceData"
      :shadow="false"
      :selected="0"
    />
  </div>
</template>

<script>
// @ is an alias to /src
import Services from '@/components/Services.vue';
import slider from '@/components/Slider.vue';

// data
import slides from '@/assets/json/slider_data.json';
import serviceData from '@/assets/json/service_data.json';


export default {
  name: 'home',
  components: {
    slider,
    Services,
  },
  data() {
    return {
      slides,
      serviceData,
      slickOptions: {
        centerMode: true,
        centerPadding: '60px',
        arrows: false,
        slidesToShow: 3,
        slidesToScroll: 1,
        autoplay: true,
        autoplaySpeed: 2000,
        responsive: [
          {
            breakpoint: 768,
            settings: {
              arrows: false,
              centerMode: false,
              centerPadding: '40px',
              slidesToShow: 1,
            },
          },
          {
            breakpoint: 480,
            settings: {
              arrows: false,
              centerMode: true,
              centerPadding: '40px',
              slidesToShow: 1,
            },
          },
        ],
      },
    };
  },
};
</script>
