<template>
  <div class="loans">
    <div class="con bg_img">
      <div class="loansForm rounded">
        <LoanForm msg="How much do you want to borrow?"/>
        <div class="columns">
          <div class="col_4">
            <font-awesome-icon class='icon' :icon="['far', 'user-circle']"/>
            <p>
            dummy text with info and marketing jargon.
            dummy text with info and marketing jargon.
            dummy text with info and marketing jargon.
            dummy text with info and marketing jargon.
            dummy text with info and marketing jargon.
            </p>
          </div>
          <div class="col_4">
            <font-awesome-icon class='icon' :icon="['far', 'user-circle']"/>
            <p>
            dummy text with info and marketing jargon.
            dummy text with info and marketing jargon.
            dummy text with info and marketing jargon.
            dummy text with info and marketing jargon.
            dummy text with info and marketing jargon.
            </p>
          </div>
          <div class="col_4">
            <font-awesome-icon class='icon' :icon="['far', 'user-circle']"/>
            <p>
            dummy text with info and marketing jargon.
            dummy text with info and marketing jargon.
            dummy text with info and marketing jargon.
            dummy text with info and marketing jargon.
            dummy text with info and marketing jargon.
            </p>
          </div>
          <div class="col_12">
            <p>
            dummy text with info and marketing jargon.
            dummy text with info and marketing jargon.
            dummy text with info and marketing jargon.
            dummy text with info and marketing jargon.
            dummy text with info and marketing jargon.
            </p>
          </div>
        </div>
      </div>
    </div>
  </div>
</template>

<script>
// @ is an alias to /src
import LoanForm from '@/components/LoanForm.vue';
import '@/scss/loans.scss';
import '@/scss/grid.scss';

export default {
  name: 'Loans',
  components: {
    LoanForm,
  },
};
</script>
