<template>
  <div>
    <h1>{{ msg }}</h1>
    <div class="form">
      <form>
        <input type="range" name="loan" id="slider" step="50"
        v-model="loanValue" value="0" min="100" max="2000">
        <select class="loan_time" name="loan-time" v-model="loanTime">
          <option value="1">1 Month</option>
          <option value="2">2 Month</option>
          <option value="3">3 Month</option>
          <option value="4">4 Month</option>
        </select>
      </form>
      <div class="info">
        <output for="loan">£{{loanValue}}</output>
        <output for="loan-time">{{loanTime}} Month</output>
        <output class="filled-in">Cost: £{{loanCost}}</output>
      </div>
    </div>
  </div>
</template>

<script>
import '../scss/forms.scss';

export default {
  name: 'HelloWorld',
  props: {
    msg: String,
  },
  data() {
    return {
      loanValue: 100,
      loanTime: 1,
    };
  },
  computed: {
    loanCost() {
      return Math.round((this.loanValue * 15 / 100) * this.loanTime + +this.loanValue);
    },
  },
};
</script>

<!-- Add "scoped" attribute to limit CSS to this component only -->
<style scoped lang="scss">
h3 {
  margin: 40px 0 0;
}
ul {
  list-style-type: none;
  padding: 0;
}
li {
  display: inline-block;
  margin: 0 10px;
}
a {
  color: #42b983;
}
</style>
