<template>
    <div id="nav" v-bind:class="{ active: navState }">
        <div class="controls">
          <font-awesome-icon v-if="this.navState === false" @click="toggleNav()" icon="bars"/>
          <font-awesome-icon v-if="this.navState === true" @click="toggleNav()" icon="times"/>
        </div>
        <div class="links">
          <router-link to="/">
            <font-awesome-icon icon="money-bill-wave"/>
            <span>Loans</span>
          </router-link>
          <router-link to="/quotes">
            <font-awesome-icon :icon="['far', 'user-circle']"/>
            <span>Quotes</span>
          </router-link>
          <router-link to="/repay">
            <font-awesome-icon :icon="['far', 'bell']"/>
            <span>Repayments</span>
          </router-link>
        </div>
        <div class="social">
          <a href="#">
            <font-awesome-icon :icon="['fab','facebook-square']"/> <span>Facebook</span>
          </a>
          <a href="#"><font-awesome-icon :icon="['fab','instagram']"/> <span>Instagram</span></a>
          <a href="#"><font-awesome-icon :icon="['fab','pinterest']"/> <span>Pintrest</span></a>
          <a href="#"><font-awesome-icon :icon="['fab','snapchat']"/> <span>Snapchat</span></a>
        </div>
    </div>
</template>

<script>
// Import components and styles here, example...
// import '../scss/main.scss';

export default {
  name: 'Nav',
  props: {
    logo: String,
  },
  data() {
    return {
      navState: false,
    };
  },
  methods: {
    toggleNav() {
      const app = document.querySelector('#app');
      const nav = document.querySelector('#nav');
      const main = document.querySelector('#main-view');
      if (this.navState === false) {
        app.classList.add('no-scroll');
        nav.style.width = '250px';
        main.style.left = '250px';
        this.navState = true;
        this.$parent.navState = true;
      } else {
        app.classList.remove('no-scroll');
        nav.style.width = '70px';
        main.style.left = '70px';
        this.navState = false;
        this.$parent.navState = false;
      }
    },
  },
};
</script>

<!-- Add "scoped" attribute to limit CSS to this component only -->
<style scoped lang="scss">
</style>
