<template>
  <div class="services padding maxWidth">
    <h1 v-if="services.title">{{ services.title }}</h1>
    <p v-if="services.copy">{{ services.copy }}</p>
    <div :class="{ shadow: shadow === true}">
        <div class="tabs_con">
          <div class="tab" v-for="(item, index) in services.cards" :key="index"
          v-on:click="selectCard(index)">
              <div class="content" :class="{ active: item.active}" @click="toggleActive(index)">
                  <font-awesome-icon v-if="item.icon" :icon="item.icon"/>
              </div>
          </div>
        </div>
        <div class="tab_info">
          <div class="content">
            <h2>{{card.title}}</h2>
            <div class="copy" :class="{ noImage: !card.images}">
              <div v-html="card.copy"></div>
              <imgModule v-if="card.images" :srcs="card.images"></imgModule>
            </div>
          </div>
        </div>
    </div>
  </div>
</template>

<script>
import ImgModule from './ImgModule.vue';

export default {
  name: 'Services',
  components: { ImgModule },
  props: {
    services: Object,
    shadow: Boolean,
    selected: {
      type: Number,
      default: 0,
    },
  },
  data() {
    return {
      cardSelected: this.selected,
    };
  },
  methods: {
    selectCard(id) {
      this.cardSelected = id;
    },
    defaultTab() {
      this.services.cards[this.cardSelected].active = true;
    },
    toggleActive(index) {
      this.services.cards.map((x) => {
        const item = x;
        item.active = false;
        return item;
      });
      const item = this.services.cards[index];
      item.active = !item.active;
      this.$set(this.services.cards, index, item);
    },
  },
  computed: {
    card() {
      return this.services.cards[this.cardSelected];
    },
  },
  created() {
    this.defaultTab();
  },
};
</script>

<!-- Add "scoped" attribute to limit CSS to this component only -->
<style scoped lang="scss">
  @import '@/scss/grid.scss';
  @import '@/scss/tabs.scss';
</style>
