<template>
  <div class="slick-con">
    <slick v-if="options.length !== 'undifined'"
      :class="className"
      ref="slick"
      :options="options">

      <!-- Slide Structure -->
      <a v-for="(slide, index) in slides"
        :key="index"
        :href="slide.main_url">
        <imgModule :srcs="slide.images"></imgModule>
      </a>

    </slick>
    <div class="pausePlay" v-if="pausePlay === 'true'">
      <font-awesome-icon @click="slickPause(className)" :icon="['fas','pause-circle']"/>
      <font-awesome-icon @click="slickPlay(className)" :icon="['fas','play-circle']"/>
      <!-- <button @click="slickPause(className)">Pause</button>
      <button @click="slickPlay(className)">Play</button> -->
    </div>
  </div>
</template>

<script>
import Slick from 'vue-slick';
import $ from 'jquery';
import ImgModule from './ImgModule.vue';

export default {
  components: { Slick, ImgModule },
  name: 'Slider',
  props: {
    slides: Array,
    className: String,
    options: Object,
    pausePlay: String,
  },
  data() {
    return {
      slickOptions: {
        centerMode: true,
        centerPadding: '60px',
        slidesToShow: 3,
        responsive: [
          {
            breakpoint: 768,
            settings: {
              arrows: false,
              centerMode: false,
              centerPadding: '40px',
              slidesToShow: 1,
            },
          },
          {
            breakpoint: 480,
            settings: {
              arrows: false,
              centerMode: true,
              centerPadding: '40px',
              slidesToShow: 1,
            },
          },
        ],
        // Any other options that can be got from plugin documentation
      },
    };
  },

  // All slick methods can be used too, example here
  methods: {
    next() {
      this.$refs.slick.next();
    },
    prev() {
      this.$refs.slick.prev();
    },
    reInit() {
      // Helpful if you have to deal with v-for to update dynamic lists
      this.$nextTick(() => {
        this.$refs.slick.reSlick();
      });
    },
    // Events listeners
    handleAfterChange(event, slick, currentSlide) {
      console.log('handleAfterChange', event, slick, currentSlide);
    },
    handleBeforeChange(event, slick, currentSlide, nextSlide) {
      console.log('handleBeforeChange', event, slick, currentSlide, nextSlide);
    },
    handleBreakpoint(event, slick, breakpoint) {
      console.log('handleBreakpoint', event, slick, breakpoint);
    },
    handleDestroy(event, slick) {
      console.log('handleDestroy', event, slick);
    },
    handleEdge(event, slick, direction) {
      console.log('handleEdge', event, slick, direction);
    },
    handleInit(event, slick) {
      console.log('handleInit', event, slick);
    },
    handleReInit(event, slick) {
      console.log('handleReInit', event, slick);
    },
    handleSetPosition(event, slick) {
      console.log('handleSetPosition', event, slick);
    },
    handleSwipe(event, slick, direction) {
      console.log('handleSwipe', event, slick, direction);
    },
    handleLazyLoaded(event, slick, image, imageSource) {
      console.log('handleLazyLoaded', event, slick, image, imageSource);
    },
    handleLazeLoadError(event, slick, image, imageSource) {
      console.log('handleLazeLoadError', event, slick, image, imageSource);
    },
    slickPause(slick) {
      $(`.${slick}`).slick('slickPause');
    },
    slickPlay(slick) {
      $(`.${slick}`).slick('slickPlay');
    },
  },
};
</script>
<style lang="scss">
  @import 'node_modules/slick-carousel/slick/slick.scss';
  @import '@/scss/slider.scss';
</style>
