<template>
    <div class="usp">
        <span v-if="usp.email" class="email">{{usp.email}}</span>
        <span v-if="usp.phone" class="phone">{{usp.phone}}</span>
    </div>
</template>

<script>
export default {
  name: 'USP',
  props: {
    usp: Object,
  },
};
</script>
<style lang="scss" scoped>
    @import '@/scss/usp.scss';
</style>
