<template>
  <div id="app" v-bind:class="{ no_scroll: navState }">
    <usp :usp="this.usp" v-bind:class="{ open: navState }"/>
    <Nav/>
    <router-view id="main-view" v-bind:class="{ open: navState }"/>
  </div>
</template>

<script>
// @ is an alias to /src
import Nav from '@/components/Nav.vue';
import usp from '@/components/usp.vue';
import '@/scss/main.scss';

export default {
  name: 'App',
  components: {
    Nav,
    usp,
  },
  data() {
    return {
      navState: false,
      usp: {
        email: 'test@test.com',
        phone: '07793278891',
      },
    };
  },
};
</script>

<style lang="scss">
</style>
