.card {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    border: solid 1px rgb(224, 224, 224);
    border-radius: 5px;
    box-shadow: 1px 1px 6px -4px #000000;
    margin: 1rem 0;
    .content {
        padding: 1rem 0;
        .cta {
            display: inline-block;
            text-decoration: none;
            color: #fff;
            background: deepskyblue;
            padding: .5rem;
            margin-top: .5rem;
        }
    }
}