@import './varibles.scss';
.form {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    form {
        background: $bg_color;
        border: solid 1px $card_color;
        border-radius: 5px;
        padding: 2rem;
        display: flex;
        box-sizing: border-box;
        flex: 0 0 60%;
        flex-wrap: wrap;
        justify-content: center;
        align-items: center;
        @media (max-width:768px) {
            flex: 0 0 100%;
            margin-bottom: 1rem;
        }
        input[type=range] {
            -webkit-appearance: none;
            width: 100%;
            display: flex;
            align-items: center;
        }

        input[type=range]:focus {
            outline: none;
        }

        input[type=range]::-webkit-slider-runnable-track {
            width: 100%;
            height: 5px;
            cursor: pointer;
            background: $main_color;
        }

        input[type=range]::-webkit-slider-thumb {
            height: 24px;
            width: 24px;
            border-radius: 50%;
            background: $main_color;
            cursor: pointer;
            -webkit-appearance: none;
            margin-top: -10px;
        }

        input[type=range]:hover::-webkit-slider-thumb {
            box-shadow: 0 0 5px $main_color;
        }

        input[type=range]::-moz-range-track {
            width: 100%;
            height: 5px;
            cursor: pointer;
            background: $main_color;
        }

        input[type=range]::-moz-range-thumb {
            height: 24px;
            width: 24px;
            border-radius: 50%;
            background: $main_color;
            cursor: pointer;
            -webkit-appearance: none;
            margin-top: -10px;
        }

        input[type=range]::-ms-track {
            width: 100%;
            height: 5px;
            cursor: pointer;
            background: $main_color;
        }

        input[type=range]::-ms-thumb {
            height: 24px;
            width: 24px;
            border-radius: 50%;
            background: $main_color;
            cursor: pointer;
            -webkit-appearance: none;
            margin-top: -10px;
        }
        select.loan_time {
            -webkit-appearance: none;
            -moz-appearance: none;
            appearance: none;
            display: flex;
            width: 100%;
            padding: 1rem;
            margin: 1.5rem 0 0;
            border: solid 1px $main_color;
            font-size: 1rem;
            font-weight: 600;
            outline-color: $main_color;
            background: url(https://cdn1.iconfinder.com/data/icons/cc_mono_icon_set/blacks/16x16/br_down.png) 95% / 2.5% no-repeat $bg_color;
            option {
                padding: 1rem;
            }
        }
    }
    .info {
        display: flex;
        flex: 0 0 35%;
        flex-wrap: wrap;
        box-sizing: border-box;
        border: solid 1px $card_color;
        border-radius: 5px;
        padding: 1rem;
        @media (max-width:768px) {
            flex: 0 0 100%;
        }
        output {
            flex: 0 0 100%;
            border: solid 1px $main_color;
            color: #010101;
            margin: .5rem 0;
            padding: .5rem 0;
            text-align: center;
            display: flex;
            justify-content: center;
            font-size: 1rem;
            align-items: center;
            box-sizing: border-box;
            &.filled-in {
                border: none;
                background: $attention_color;
                color: #fff;
                font-weight: bold;
            }
        }
    }
}