.padding {
    padding:0 1rem;
}
.maxWidth {
    max-width: 1060px;
    margin: 0 auto;
}
.columns {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;

    div[class^="col_"], div[class*=" col_-"] {
        display: flex;
    }
    .col_4 {
        flex: 0 0 30%;
        box-sizing: border-box;
        @media (max-width: 768px) {
            flex: 0 0 100%;
        }
    }
    .col_12 {
        flex: 0 0 100%;
        box-sizing: border-box;
    }
}