@import './varibles.scss';
#main-view {
    &.loans {
        position: relative;
        top: 0;
        .bg_img {
            position: absolute;
            top: 0;
            display: block;
            width: 100%;
            max-height: 500px;
            background: url('https://images.unsplash.com/photo-1556220079-4f707a952005?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=1500&q=80');
            background-size: 100%;
            background-repeat: no-repeat;
            @media (max-width:768px){
                background: $bg_color;
            }
        }
        .loansForm {
            position: relative;
            top: 200px;
            display: block;
            width: 90%;
            max-width: 1200px;
            height: 100vh;
            margin: 0 auto 3rem;
            padding: 1rem 2rem;
            background: $bg_color;
            box-shadow: 1px 1px 7px $shadow_color;
            box-sizing: border-box;
            .columns {
                margin: 2rem 0 0 0;
                .col_4, .col_12 {
                    flex-wrap: wrap;
                    justify-content: center;
                    background: $card_color;
                    padding: 1rem;
                    margin-bottom: 1rem;
                    border-radius: 5px;
                    .icon {
                        font-size: 4rem;
                        color: $main_color;
                    }
                }
            }
            @media (max-width:768px){
                height: 100vh;
                top: 0;
                margin-bottom: 0;
                box-shadow: none;
            }
            @media (max-width:768px){
                width: calc(100% - 1.5rem);
                padding: 1rem .75rem;
            }
            &.rounded {
                border-radius: 7px;
                @media (max-width:768px){
                    border-radius: 0;
                }
            }
        }
    }
}