@import './varibles.scss';
body {
    padding: 0;
    margin: 0;
    background: $bg_color;
}
#app {
  font-family: 'Avenir', Helvetica, Arial, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  text-align: center;
  color: $text_color;
}

.no_scroll {
  overflow: hidden;
  width: 100%;
  height: 100vh;
}

#nav {
  position: fixed;
  left: 0;
  top: 0;
  width: $nav_width;
  min-height: 600px;
  height: 100vh;
  padding: 1rem 0 4rem;
  box-sizing: border-box;
  background: $nav_bg;
  transition: 0.3s;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  .controls {
    .fa-bars, .fa-times {
      font-size: 1.5rem;
      color: $bg_color;
      flex: 1;
    }
  }
  a {
    display: block;
    font-size: 1.5rem;
    font-weight: 500;
    padding: 1rem 0;
    color: $bg_color;
    transition: .3s;
    &:hover {
      background: $bg_color;
      color: $main_color;
      .fa-facebook-square {
        color: $fb_color;
      }
      .fa-pinterest {
        color: $pin_color;
      }
      .fa-snapchat {
        color: $snap_color;
      }
    }
    span {
      display: none;
    }
    &.router-link-exact-active {
      background: $bg_color;
      color: $main_color;
    }
  }
  &.active {
    .controls {
      text-align: left;
      padding: 0 1rem;
    }
    a {
      width: calc(250px - 2rem);
      padding: 1rem;
      text-align: left;
      display: flex;
      flex-wrap: wrap;
      align-items: center;
      text-decoration: none;
      span {
        display: block;
        padding: 0 10px;
      }
    }
  }
}
#main-view {
  position: relative;
  left: $nav_width;
  transition: left .3s;
  max-width: calc(100% - #{$nav_width});
  box-sizing: border-box;
  &.open {
    left: $open_nav_width;
  }
}