@import './varibles.scss';
/* Slider */
.slick-slider {
    .slick-list {
        padding: 4rem 60px 5rem !important;
    }
}
.slick-slide {
    margin: 0 .5rem;
    div {
        display: flex;
        a {
            outline: none;
            picture {
                min-height: 40px;
                img {
                    width: 100%;
                    min-height: 40px;
                }
            }
        }
    }

    &.slick-center {
        transform: scale(1.3);
        a {
            outline: none;
            box-shadow: 0px 4px 10px 0px rgba(0, 0, 0, 0.25);
        }
    }
}
.pausePlay {
    position: relative;
    bottom: 1rem;
    svg {
        font-size: 1.3rem;
        padding: 0.1rem;
        cursor: pointer;
        color: $service_bg_color;
        &:hover {
            color: darken($color: $service_bg_color, $amount: 10);
        }
    }
}