@import './varibles.scss';
.shadow {
    box-shadow: 2px 2px 7px -1px rgba(0, 0, 0, 0.4)
}
.tabs_con {
    display: flex;
    flex-wrap: wrap;
    .tab {
        cursor: pointer;
        .content {
            background: darken($color: $service_bg_color, $amount: 10);
            color: $service_text_color;
            padding: 1rem;
            font-size: 1.5rem;
            width: 30px;
            height: 30px;
            &.active {
                background: $service_bg_color;
            }
            &:hover {
                background: $service_bg_color;
            }
        }
    }
}
.tab_info {
    background: $service_bg_color;
    margin-bottom: 1rem;
    .content {
        padding: 2rem;
        color: $service_text_color;
        @media (max-width:768px){
            padding: 1rem
        }
        .copy {
            display: flex;
            flex-wrap: nowrap;
            justify-content: space-between;
            flex: 0 0 100%;
            @media (max-width:768px){
                flex-direction: column-reverse;
            }
            &.noImage {
                div {
                    flex: 100%;
                }
            }
            div {
                flex: 0 0 60%;
                text-align: left;
            }
            .img-container {
                flex: 0 0 38%;
                picture {
                    width: 100%;
                    img {
                        width: 100%;
                    }
                }
            }
        }
    }
}