@import './varibles.scss';
.usp {
    width: calc(100% - 70px);
    left: 70px;
    position: relative;
    box-sizing: border-box;
    display: flex;
    justify-content: space-between;
    background: $service_bg_color;
    padding: 1rem;

    span {
        display: block;
        font-size: 1rem;
        color: $service_text_color;
    }
}