$bg_color: #fff;
$main_color: rgb(7, 68, 88);
$text_color: #2c3e50;
$shadow_color: #00000050;
$card_color: #dfdfdf;
$attention_color: lightgreen;

// Service Section
$service_bg_color: rgb(7, 68, 88);
$service_text_color: #fff;

// Nav Varibles, these are used to do the nav slide in
$nav_width: 70px;
$open_nav_width: 250px;
$nav_bg: rgb(7, 68, 88);

$fb_color: #3b5998;
$pin_color: red;
$snap_color: yellow;